{% extends "base.html" %}

{% block title %} {{ title}} {% endblock %}

{% block content %}

  {% include "includes/about/banner.html" %}

  {% include "includes/about/vision.html" %}

  {% include "includes/about/values.html" %}

  {% include "includes/divider.html" %}

  {% include "includes/about/passionate.html" %}

  {% include "includes/divider.html" %}

  {% include "includes/about/about.html" %}

  {% include "includes/about/core-pillar.html" %}

  {% include "includes/divider.html" %}

  {% include "includes/about/message.html" %}

  {% include "includes/home/certificate.html" %}
{% endblock %}