<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ title }} | ManiarTech®️</title>
  {% include "includes/head.html" %}
  {% block css %}  {% endblock %}
  <link rel="stylesheet" href="https://unpkg.com/lenis@1.2.3/dist/lenis.css">
</head>

<body id="smooth-wrapper" class="active-dark-mode">
  {% include "includes/background-slider.html" %}
  <!-- Main -->
  <main id="main" class="page-wrapper home-page-custom">
    <!-- Start Theme Style  -->
    <div>
      <div class="rn-gradient-circle"></div>
      <div class="rn-gradient-circle theme-pink"></div>
    </div>
    <!-- End Theme Style  -->
    {% include "includes/effects.html" %}
    {% include "includes/header-new.html" %}

    {% block content %}  {% endblock %}

    {% include "includes/footer.html" %}
  </main>
  <!-- Main -->

  {% include "includes/back-to-top.html" %}

  {% block script %} {% endblock %}

  {% include "includes/scripts.html" %}

</body>
</html>
