{% extends "base.html" %}

{% block content %}
<!-- Start Breadcarumb area  -->
  <div class="breadcrumb-area breadcarumb-style-1 ptb--200">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="breadcrumb-inner text-center">
            <h1 class="title theme-gradient h2">Latest Trending News</h1>
            <ul class="page-list">
              <li class="rn-breadcrumb-item"><a href="/blogs/">Home</a></li>
              <li class="rn-breadcrumb-item active">Blog</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Breadcarumb area  -->

  <!-- Start Blog Area  -->
  <div class="rn-blog-area rn-section-gap">
    <div class="container">
      <div class="row mt_dec--30">
        <div class="col-lg-12">
          <div class="row row--15">
            {% for blog in blogs %}
              <div class="col-lg-4 col-md-6 col-12 mt--30" data-sal="slide-up" data-sal-duration="{{sal-duration}}">
                {% component blog_card heading=blog.heading date=blog.date description=blog.description author=blog.author src=blog.src%}{% endcomponent %}
              </div>
            {% endfor %}

          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}