{% extends "base.html" %}

{% block title %}Business Process Automation{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% assets 'scss/pages/dam.css' %}">
{% endblock %}

{% block content %}
<!-- Start Slider Area  -->
<div class="slider-area slider-style-7 height-750 service-slider">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="inner text-center">
          <span class="subtitle theme-gradient">Processious – The Enterprise Execution Platform.</span>
          <h1 class="title">Orchestrate Enterprise Operations with Intelligent Automation & Embedded Governance</h1>
          <p class="description">Build an organization that executes consistently and predictably without constant supervision. Processious automates
          workflows, embeds governance into operations, and delivers data-driven performance insights in real time.</p>
          <div class="button-group mt--30">
            <a class="btn-default btn-large round" href="#">Request a Demo</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Slider Area  -->

{%endblock %}