{% extends "base.html" %}

{% block css %}
  <link rel="stylesheet" href="{% assets 'scss/pages/dam.css' %}">
{% endblock %}

{% block title %} Enterprise Digital Asset Management {% endblock %}
{% block content %}

{% include "includes/dam/banner.html" %}

{% include "includes/dam/brand-features.html" %}

{% include "includes/dam/hero.html" %}

{% include "includes/dam/dam-features.html" %}

{% include "includes/divider.html" %}

{% include "includes/dam/dam-pain.html" %}

{% include "includes/divider.html" %}

{% include "includes/dam/dam-solution.html" %}

{% include "includes/divider.html" %}

{% include "includes/dam/dam-benefit.html" %}

{% include "includes/divider.html" %}

{% include "includes/cta1.html" %}

{% endblock %}
