{% extends "base.html" %}

{% block css %}
  <link rel="stylesheet" href="{% assets 'scss/pages/go-lang.css' %}">
{% endblock %}
{% block content %}

{% include "includes/go-lang/banner.html" %}

{% include "includes/divider.html" %}

{% include "includes/go-lang/why-golang.html" %}

{% include "includes/divider.html" %}

{% include "includes/go-lang/comparision.html" %}

{% include "includes/divider.html" %}

{% include "includes/go-lang/why-mt.html" %}

{% include "includes/divider.html" %}

{% include "includes/go-lang/mt-services.html" %}

{% include "includes/divider.html" %}

{% include "includes/go-lang/git-profile.html" %}

{% include "includes/divider.html" %}

{% include "includes/cta1.html" %}

{% endblock %}