{% extends "base.html" %} {% block content %}
<!-- Start Banner Area  -->
<div class="slider-area slider-style-6 shape-right height-750 custom-banner">
  <div class="container">
    <div class="row row--30 align-items-center">
      <div class="order-2 order-lg-1 col-lg mt_md--50 mt_sm--30 mt_lg--30">
        <div class="d-inline-block">
          <p class="m-0 about-text">✨ Striving to fix your business challenges with cutting-edge</p>
        </div>
        <div class="inner text-start">
          <h1 class="title theme-gradient d-none d-lg-block">
            <span>Software Engineering</span> & Innovations
          </h1>
          <p class="description">At ManiarTech®, we harness the power of technology to improve lives, inspire joy, and overcome challenges. Our research
          and innovation services help materialize any ideas into reality, assisting our clients in meeting their vision with
          advanced technology, smart systems, and innovative solutions developed specifically for their needs.

          <br/><br/>
          ManiarTech® designed enterprise solutions <span>Reduce Organizational Costs</span>, <span>Elevate Customer's
            Satisfaction</span>, <span>Motivate Employees</span>, <span>Increase Staff Accountability</span>, <span>Reduce
            Supervision Costs</span>, <span>Provide Enhanced Decision-making</span>, <span>Enforce Compliance</span>,
          <span>Improve Productivity</span>, <span>Enhance Business Process</span> and much more.
          </p>
          <div class="button-group">
            <a class="btn-default" href="/contact/">Connect Now <i class="icon feather-arrow-right"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-12 d-md-block d-lg-none">
        <div class="pt-md-6 mb--35">
          <span class="badge bg-primary mr--5">Latest</span>
          <div class="readmore-btn d-inline-block">
            <a class="btn-read-more hover-arrow" href="#latest-trends">
              <span>Technology Trends in 2022</span>
            </a>
          </div>
        </div>
        <div class="inner text-start">
          <h1 class="title theme-gradient">
            <span>Software Engineering</span> & Innovations
          </h1>
        </div>
      </div>
      <div class="col-lg order-1 order-lg-2 gear-col">
        <div class="thumbnail gear-wrapper"> {% include "includes/gears.html" %} </div>
      </div>
    </div>
  </div>
</div>
<!-- End Banner Area  -->

{% include "includes/home/certificate.html" %}

{% include "includes/divider.html" %}

{% include "includes/home/problem-solving.html" %}

{% include "includes/divider.html" %}

<!-- Start Timeline-Style-One  -->
<div class="rainbow-timeline-area rn-section-gap">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title text-center" data-sal="slide-up" data-sal-duration="700" data-sal-delay="100">
          <h4 class="subtitle ">
            <span class="theme-gradient">Our Offering </span>
          </h4>
          <h2 class="title w-600 mb--20">Cutting-Edge Solutions for Tomorrow's Enterprise</h2>
          <p class="description b1">ManiarTech®️ is at the forefront of delivering integrated, innovative solutions <br /> that drive business transformation</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="rainbow-timeline-wrapper timeline-style-one position-relative">
          <div class="timeline-line"></div>
          <div class="single-timeline mt--50">
            <div class="timeline-dot">
              <div class="time-line-circle"></div>
            </div>
            <div class="single-content">
              <div class="inner">
                <div class="row row--30 align-items-center">
                  <div class="col-lg-6 mt_md--40 mt_sm--40 order-2 order-lg-1">
                    <div class="content">
                      <h2 class="title" data-sal="slide-up" data-sal-duration="700" data-sal-delay="100">Your working process you can present.</h2>
                      <p class="description" data-sal="slide-up" data-sal-duration="700" data-sal-delay="200">Lorem ipsum dolor sit amet at — consectetur adipisicing elit. Hic, expedita. Incidunt laboriosam.</p>
                      <div class="row row--30">
                        <div class="col-lg-6 col-md-6 col-12">
                          <div class="working-list">
                            <h5 class="working-title" data-sal="slide-up" data-sal-duration="700" data-sal-delay="300">Gain your works</h5>
                            <p data-sal="slide-up" data-sal-duration="700" data-sal-delay="400">Lorem ipsum dolor sit amet at consectetur adipisicing</p>
                          </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-12">
                          <div class="working-list">
                            <h5 class="working-title" data-sal="slide-up" data-sal-duration="700" data-sal-delay="300">Working process</h5>
                            <p data-sal="slide-up" data-sal-duration="700" data-sal-delay="400">Lorem ipsum dolor sit amet at consectetur adipisicing</p>
                          </div>
                        </div>
                      </div>
                      <div class="read-morebtn" data-sal="slide-up" data-sal-duration="700" data-sal-delay="300">
                        <a class="btn-default btn-large round" href="contact.html">
                          <span>Get Started Now</span>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6 order-1 order-lg-2">
                    <div class="thumbnail">
                      <img class="w-100" src="{% assets 'images/blog-grid/blog-02.jpg' %}" alt="Corporate Html Template">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Timeline-Style-One  -->

<!-- Start Service__Style--1 Area  -->
  <div class="rainbow-service-area rn-section-gapBottom">
      <div class="container">
          <div class="row row--15 service-wrapper">
              <div class="col-lg-4 col-md-6 col-sm-6 col-12" data-sal="slide-up" data-sal-duration="700">
                  <div class="service service__style--1 bg-color-blackest radius mt--25 text-center rbt-border-none">
                      <div class="icon">
                          <i class="feather-activity"></i>
                      </div>
                      <div class="content">
                          <h4 class="title w-600">
                              <a href="#">Awarded Design</a>
                          </h4>
                          <p class="description b1 color-gray mb--0">There are many variations variations
                              of passages of Lorem Ipsum available, but the majority have suffered.</p>
                      </div>
                  </div>
              </div>

              <div class="col-lg-4 col-md-6 col-sm-6 col-12" data-sal="slide-up" data-sal-duration="700" data-sal-delay="100">
                  <div class="service service__style--1 bg-color-blackest radius mt--25 text-center rbt-border-none">
                      <div class="icon">
                          <i class="feather-cast"></i>
                      </div>
                      <div class="content">
                          <h4 class="title w-600">
                              <a href="#">Design & Creative</a>
                          </h4>
                          <p class="description b1 color-gray mb--0">Passages there are many variations
                              variations of of Lorem Ipsum available, but the majority have suffered.</p>
                      </div>
                  </div>
              </div>

              <div class="col-lg-4 col-md-6 col-sm-6 col-12" data-sal="slide-up" data-sal-duration="700" data-sal-delay="200">
                  <div class="service service__style--1 bg-color-blackest radius mt--25 text-center rbt-border-none">
                      <div class="icon">
                          <i class="feather-map"></i>
                      </div>
                      <div class="content">
                          <h4 class="title w-600">
                              <a href="#">App Development</a>
                          </h4>
                          <p class="description b1 color-gray mb--0">Variations There are many variations
                              of passages of Lorem Ipsum available, but the majority have suffered.</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- End Service__Style--1 Area  -->

{% include "includes/divider.html" %}

{% include "includes/home/in-lab2.html" %}

{% include "includes/divider.html" %}

{% include "includes/home/testimonial.html" %}

{% include "includes/divider.html" %}

<!-- Start Blog Area  -->
<div id="latest-trends" class="blog-area rn-section-gap">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title text-center" data-sal="slide-up" data-sal-duration="400" data-sal-delay="100">
          <h4 class="subtitle ">
            <span class="theme-gradient">Latest Trends</span>
          </h4>
          <h2 class="title w-600 mb--20">Stay Ahead of the Curve</h2>
          <p class="description b1">At ManiarTech, we keep on researching and reviewing the latest <br /> Technologies and Trends. </p>
        </div>
      </div>
    </div>
    <div class="row row--15">
      <div class="col-lg-4 col-md-6 col-sm-12 col-12 mt--30" data-sal="slide-up" data-sal-duration="700">
        <div class="rn-card box-card-style-default">
          <div class="inner">
            <div class="thumbnail">
              <a class="image" href="blog-details.html">
                <img src="{% assets 'images/blog-grid/blog-02.jpg' %}" alt="Blog Image">
              </a>
            </div>
            <div class="content">
              <ul class="rn-meta-list">
                <li>
                  <a href="#">Irin Pervin</a>
                </li>
                <li class="separator">/</li>
                <li>10 Dec 2021</li>
              </ul>
              <h3 class="title">
                <a href="blog-details.html">Best Corporate Tips You Will Read This Year.</a>
                </h4>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-12 mt--30" data-sal="slide-up" data-sal-duration="700" data-sal-delay="100">
        <div class="rn-card box-card-style-default">
          <div class="inner">
            <div class="thumbnail">
              <a class="image" href="blog-details.html">
                <img src="{% assets 'images/blog-grid/blog-02.jpg' %}" alt="Blog Image">
              </a>
            </div>
            <div class="content">
              <ul class="rn-meta-list">
                <li>
                  <a href="#">Fatima Asrafy</a>
                </li>
                <li class="separator">/</li>
                <li>30 Nov 2021</li>
              </ul>
              <h3 class="title">
                <a href="blog-details.html">Should Fixing Corporate Take 100 Steps.</a>
                </h4>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-12 mt--30" data-sal="slide-up" data-sal-duration="700" data-sal-delay="200">
        <div class="rn-card box-card-style-default">
          <div class="inner">
            <div class="thumbnail">
              <a class="image" href="blog-details.html">
                <img src="{% assets 'images/blog-grid/blog-02.jpg' %}" alt="Blog Image">
              </a>
            </div>
            <div class="content">
              <ul class="rn-meta-list">
                <li>
                  <a href="#">John Dou</a>
                </li>
                <li class="separator">/</li>
                <li>12 Oct 2021</li>
              </ul>
              <h3 class="title">
                <a href="blog-details.html">The Next 100 Things To Immed Iately Do About.</a>
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Blog Area  -->
{% include "includes/divider.html" %}
<!-- Start Call TO Action Area  -->
<div class="rwt-callto-action-area rn-section-gap">
  <div class="wrapper">
    <div class="rn-callto-action clltoaction-style-default style-5">
      <div class="container">
        <div class="row row--0 align-items-center content-wrapper theme-shape">
          <div class="col-lg-12">
            <div class="inner">
              <div class="content text-center">
                <h2 class="title" data-sal="slide-up" data-sal-duration="400" data-sal-delay="200">We love to help you. </h2>
                <h3 class="subtitle" data-sal="slide-up" data-sal-duration="400" data-sal-delay="300">Don’t hesitate to reach out for any of your query.</h3>
                <div class="call-to-btn" data-sal="slide-up" data-sal-duration="400" data-sal-delay="350">
                  <a class="btn-default btn-icon" href="/contact/">Connect Now <i class="feather-arrow-right"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Call TO Action Area  --> {% endblock %}