{% extends "base.html" %}
{% block title %} Home {% endblock %}
{% block content %}

{% include "includes/home/banner.html" %}

{% include "includes/home/certificate.html" %}

{% include "includes/divider.html" %}

{% include "includes/home/problem-solving.html" %}

{% include "includes/divider.html" %}

{% include "includes/home/services.html" %}

{% include "includes/divider.html" %}

{% include "includes/home/in-lab2.html" %}

{% include "includes/divider.html" %}

{% include "includes/home/about.html" %}

{% include "includes/home/core-pillar.html" %}

{% include "includes/divider.html" %}

{% include "includes/home/testimonial.html" %}

{% include "includes/divider.html" %}

{% include "includes/cta.html" %}

{% include "includes/home/contact.html" %}

{% endblock %}