{% extends "base.html" %}

{% block content %}
<!-- Start Slider Area  -->
<div class="slider-area slider-style-1 bg-transparent height-850">
  <div class="container">
    <div class="row">
      <div class="offset-1 col-lg-10">
        <div class="inner text-center">
          <h1 class="title display-one theme-gradient">Boost Your Bussiness With Our Products</h1>
          <p class="description">We help our clients succeed by creating brand identities, digital experiences, and print materials.</p>
          <div class="button-group">
            <a class="btn-default" href="contact/">Connect Now <i class="icon feather-arrow-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Slider Area  -->

<!-- Start Seperator Area  -->
<div class="rbt-separator-mid">
  <div class="container">
    <hr class="rbt-separator m-0">
  </div>
</div>
<!-- End Seperator Area  -->


<!-- Start Split Style-1 Area  -->

<div class="rwt-split-area rn-section-gapTop custom">
  <div class="wrapper">
    <div class="row">
      <div class="col-lg-12 mb--40">
        <div class="section-title text-center" data-sal="slide-up" data-sal-duration="400" data-sal-delay="150">
          <h4 class="subtitle"><span class="theme-gradient">Our Products</span></h4>
          <h2 class="title w-600 mb--20">Enterprise Product For You</h2>
        </div>
      </div>
    </div>

    <!-- Start lab Area 1  -->
    <div class="slider-area rn-section-gap">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="thumbnail">
              <img src="{% assets 'images/split/banner-shape-image-06.png' %}" alt="image-slider">
            </div>
          </div>
          <div class="col-lg-6  col-md-6 col-sm-12">
            <div class="inner Collaborate-inner text-left">
              <h3 class="title">Medriev <span>Enterprise Media Asset Management</h3>
              <p class="description">One of the biggest challenges lab managers face when renovating an occupied lab is
                protecting current operations. Learn more about considerations for renovating a working lab and six tips for
                success.</p>
                <ul class="split-list list-style-none" data-sal="slide-up" data-sal-duration="700" data-sal-delay="20">
                  <li>Doug DeMarco, Design Prototyping Manager</li>
                  <li>108 million paying subscribers</li>
                  <li>Over 1.7 billion hours of music played monthly</li>
                  <li>4,000+ employees working across 16 offices</li>
                </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Start lab Area 1  -->

    <!-- Start lab Area 2  -->
    <div class="slider-area rn-section-gap">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6  col-md-6 col-sm-12">
            <div class="inner Collaborate-inner text-left">
              <h3 class="title">Processcious Bussiness Process Automation</h3>
              <p class="description">One of the biggest challenges lab managers face when renovating an occupied lab is
                protecting current operations. Learn more about considerations for renovating a working lab and six tips for
                success.</p>
              <ul class="split-list list-style-none" data-sal="slide-up" data-sal-duration="700" data-sal-delay="20">
                <li>Doug DeMarco, Design Prototyping Manager</li>
                <li>108 million paying subscribers</li>
                <li>Over 1.7 billion hours of music played monthly</li>
                <li>4,000+ employees working across 16 offices</li>
              </ul>
            </div>
          </div>

          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="thumbnail">
              <img src="{% assets 'images/split/banner-shape-image-06.png' %}" alt="image-slider">
            </div>
          </div>

        </div>
      </div>
    </div>
    <!-- Start lab Area 2  -->

    <!-- Start lab Area 3  -->
    <div class="slider-area rn-section-gap">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="thumbnail">
              <img src="{% assets 'images/split/banner-shape-image-06.png' %}" alt="image-slider">
            </div>
          </div>
          <div class="col-lg-6  col-md-6 col-sm-12">
            <div class="inner Collaborate-inner text-left">
              <h3 class="title">Internet Object <span>Data Serialisation Format for Internet</span></h3>
              <p class="description">One of the biggest challenges lab managers face when renovating an occupied lab is
                protecting current operations. Learn more about considerations for renovating a working lab and six tips for
                success.</p>
              <ul class="split-list list-style-none" data-sal="slide-up" data-sal-duration="700" data-sal-delay="20">
                <li>Doug DeMarco, Design Prototyping Manager</li>
                <li>108 million paying subscribers</li>
                <li>Over 1.7 billion hours of music played monthly</li>
                <li>4,000+ employees working across 16 offices</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Start lab Area 3  -->

    <!-- Start lab Area 4  -->
    <div class="slider-area rn-section-gap">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6  col-md-6 col-sm-12">
            <div class="inner Collaborate-inner text-left">
              <h3 class="title">Taj Mahal <span>Modern Static Theme Builder Platform</span></h3>
              <p class="description">One of the biggest challenges lab managers face when renovating an occupied lab is
                protecting current operations. Learn more about considerations for renovating a working lab and six tips for
                success.</p>
              <ul class="split-list list-style-none" data-sal="slide-up" data-sal-duration="700" data-sal-delay="20">
                <li>Doug DeMarco, Design Prototyping Manager</li>
                <li>108 million paying subscribers</li>
                <li>Over 1.7 billion hours of music played monthly</li>
                <li>4,000+ employees working across 16 offices</li>
              </ul>
            </div>
          </div>

          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="thumbnail">
              <img src="{% assets 'images/split/banner-shape-image-06.png' %}" alt="image-slider">
            </div>
          </div>

        </div>
      </div>
    </div>
    <!-- Start lab Area 4  -->

    <!-- Start Seperator Area  -->
    <div class="rbt-separator-mid">
      <div class="container">
        <hr class="rbt-separator m-0">
      </div>
    </div>
    <!-- End Seperator Area  -->

    {% include "includes/cta1.html" %}
{% endblock %}