{% extends "base.html" %}

{% block content %}
<!-- Banner Start -->
<div class="rn-blog-details-area custom-story-banner">
  <!-- Banner Start -->
  <div class="post-page-banner rn-section-gapTop pt--180 pb--100">
      <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10 col-xl-9">
            <div class="content text-left">
                <div class="page-title">
                <h1>{{ title }}</h1>
                </div>
                <ul class="rn-meta-list">
                    <li>
                        <i class="feather-user"></i>
                        <a href="#" target="_blank">{{ author }}</a>
                    </li>
                    <li title="Last updated at {{ date }}">
                        <i class="feather-calendar"></i>
                        {{ date|date:"Jan 2006, 02" }}
                    </li>
                </ul>
            </div>
            </div>
        </div>
      </div>
  </div>
  <!-- Banner End -->


  <div class="rainbow-blog-details-area">
    <div class="blog-details-content pt--60 rn-section-gapBottom">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 offset-lg-2">
            <div class="content">
              {{ content|safe }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
{% lib "scripts/articles.js" %}
{% endblock %}