<!-- Start Slider Area  -->
  <section class="slider-area slider-style-2 variation-2 height-750 slider-bg-image bg_image bg_image--10 bg_image_fixed theme-shape rn-section-gapBottom service-banner-custom">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="inner text-left">
            <h1 class="title display-six">{{ banner.heading | safe }}</h1>
            <div class="description">
              {{ banner.description | safe }}
              <p></p>

              {% include "../banner-cta.html" %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<!-- End Slider Area  -->
