<!-- Start Slider Area  -->
  <div class="slider-area slider-style-2 variation-2 height-750 slider-bg-image bg_image bg_image--10 bg_image_fixed theme-shape custom-bann">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="inner text-left">
            <h1 class="title display-one">{{ banner.heading }}</h1>
            <h6 class="tag-title">{{ banner.subheading }}</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- End Slider Area  -->
