<!-- Start Split Style-1 Area  -->
<div class="rwt-split-area rn-section-gapTop">
  <div class="wrapper">
    <div class="row">
      <div class="col-lg-12 mb--40">
        <div class="section-title text-center" data-sal="slide-up" data-sal-duration="400" data-sal-delay="150">
          <h4 class="subtitle"><span class="theme-gradient">Our Offerings</span></h4>
          <h2 class="title w-600 mb--20">Enterprise Services For You</h2>
        </div>
      </div>
    </div>
    <div class="rn-splite-style">
      <div class="split-wrapper">
        <div class="row g-0 radius-10 align-items-center">
          <div class="col-lg-12 col-xl-6 col-12">
            <div class="thumbnail image-left-content">
              <img src="{% assets 'images/split/split-01.jpg' %}" alt="split Images">
            </div>
          </div>
          <div class="col-lg-12 col-xl-6 col-12">
            <div class="split-inner" style="padding: 30px 90px;">
              <h3 class="title" data-sal="slide-up" data-sal-duration="700" data-sal-delay="100">
                Business Process Automation</h3>
              <p class="description" data-sal="slide-up" data-sal-duration="700" data-sal-delay="300">Randomised words
                which don't look even slightly
                believable. If you are to use a passage of Lorem Ipsum. You need to be
                sure there isn't anything embarrassing hidden in the middle of text. in
                some form, by injectedeed bedhumour, or randomised even.</p>
              <ul class="split-list" data-sal="slide-up" data-sal-duration="700" data-sal-delay="20">
                <li>- Doug DeMarco, Design Prototyping Manager</li>
                <li>- 108 million paying subscribers</li>
                <li>- Over 1.7 billion hours of music played monthly</li>
                <li>- 4,000+ employees working across 16 offices</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Split Style-1 Area  -->


<!-- Start Split Style-2 Area  -->
<div class="rwt-split-area rn-section-gap">
  <div class="wrapper">
    <div class="rn-splite-style">
      <div class="split-wrapper">
        <div class="row g-0 radius-10 align-items-center">
          <div class="order-2 order-lg-1 col-lg-12 col-xl-6 col-12">
            <div class="split-inner" style="padding: 30px 90px;">
              <h3 class="title" data-sal="slide-up" data-sal-duration="700" data-sal-delay="100">
                Enterprise Digital Asset Management</h3>
              <p class="description" data-sal="slide-up" data-sal-duration="700" data-sal-delay="300">Randomised words
                which don't look even slightly
                believable. If you are to use a passage of Lorem Ipsum. You need to be
                sure there isn't anything embarrassing hidden in the middle of text. in
                some form, by injectedeed bedhumour, or randomised even.</p>
              <ul class="split-list" data-sal="slide-up" data-sal-duration="700" data-sal-delay="20">
                <li>- Doug DeMarco, Design Prototyping Manager</li>
                <li>- 108 million paying subscribers</li>
                <li>- Over 1.7 billion hours of music played monthly</li>
                <li>- 4,000+ employees working across 16 offices</li>
              </ul>
            </div>
          </div>
          <div class="order-1 order-lg-2 col-lg-12 col-xl-6 col-12">
            <div class="thumbnail image-right-content">
              <img src="{% assets 'images/split/split-01.jpg' %}" alt="split Images">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Split Style-2 Area  -->

<!-- Start Split Style-3 Area  -->
<div class="rwt-split-area">
  <div class="wrapper">
    <div class="rn-splite-style">
      <div class="split-wrapper">
        <div class="row g-0 radius-10 align-items-center">
          <div class="col-lg-12 col-xl-6 col-12">
            <div class="thumbnail image-left-content">
              <img src="{% assets 'images/split/split-01.jpg' %}" alt="split Images">
            </div>
          </div>
          <div class="col-lg-12 col-xl-6 col-12">
            <div class="split-inner" style="padding: 30px 90px;">
              <h3 class="title" data-sal="slide-up" data-sal-duration="700" data-sal-delay="100">
                Enterprise Intelligence &amp; Analytics</h3>
              <p class="description" data-sal="slide-up" data-sal-duration="700" data-sal-delay="300">Randomised words
                which don't look even slightly
                believable. If you are to use a passage of Lorem Ipsum. You need to be
                sure there isn't anything embarrassing hidden in the middle of text. in
                some form, by injectedeed bedhumour, or randomised even.</p>
              <ul class="split-list" data-sal="slide-up" data-sal-duration="700" data-sal-delay="20">
                <li>- Doug DeMarco, Design Prototyping Manager</li>
                <li>- 108 million paying subscribers</li>
                <li>- Over 1.7 billion hours of music played monthly</li>
                <li>- 4,000+ employees working across 16 offices</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Split Style-3 Area  -->

<!-- Start Split Area  -->
<div class="rwt-split-area rn-section-gap">
  <div class="wrapper">
    <div class="rn-splite-style">
      <div class="split-wrapper">
        <div class="row g-0 radius-10 align-items-center">
          <div class="order-2 order-lg-1 col-lg-12 col-xl-6 col-12">
            <div class="split-inner" style="padding: 30px 90px;">
              <h3 class="title" data-sal="slide-up" data-sal-duration="700" data-sal-delay="100">
                Enterprise Integration &amp; Workflow Orchestration</h4>
                <p class="description" data-sal="slide-up" data-sal-duration="700" data-sal-delay="300">Randomised words
                  which don't look even slightly
                  believable. If you are to use a passage of Lorem Ipsum. You need to be
                  sure there isn't anything embarrassing hidden in the middle of text. in
                  some form, by injectedeed bedhumour, or randomised even.</p>
                <ul class="split-list" data-sal="slide-up" data-sal-duration="700" data-sal-delay="20">
                  <li>- Doug DeMarco, Design Prototyping Manager</li>
                  <li>- 108 million paying subscribers</li>
                  <li>- Over 1.7 billion hours of music played monthly</li>
                  <li>- 4,000+ employees working across 16 offices</li>
                </ul>
            </div>
          </div>
          <div class="order-1 order-lg-2 col-lg-12 col-xl-6 col-12">
            <div class="thumbnail image-right-content">
              <img src="{% assets 'images/split/split-01.jpg' %}" alt="split Images">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Split Area  -->