<!-- Comparision Table -->
<div class="rn-service-area rn-section-gap">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title text-center" data-sal="slide-up" data-sal-duration="700" data-sal-delay="100">
          <h4 class="subtitle ">
            <span class="theme-gradient">Benefit</span>
          </h4>
          <h2 class="title w-600 mb--20">Benefit of Golang <br />Over Python, NodeJs</h2>
          <p class="description b1">There are many variations of passages of Lorem Ipsum
            available, <br>but the majority have suffered alteration.</p>
        </div>
      </div>
    </div>

    <div class="row d-flex justify-content-center">
      <div class="col-lg-10">
        <div class="table-responsive benefit-table-compare">
          <table class="table">
            <thead class="table-heading">
              <tr>
                <th width="40%">Benefit</th>
                <th width="20%" class="text-center">Golang</th>
                <th width="20%" class="text-center">Python</th>
                <th width="20%" class="text-center">Node.js</th>
              </tr>
            </thead>
            <tbody class="table-body">
              <tr>
                <th>Small footprint</th>
                <td><i class="feather-check"></i></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th>Efficient memory usage</th>
                <td><i class="feather-check"></i></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th>Fast development times</th>
                <td><i class="feather-check"></i></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th>High performance</th>
                <td><i class="feather-check"></i></td>
                <td></td>
                <td></td>
              </tr>
              <th>Built-in concurrency support</th>
              <td><i class="feather-check"></i></td>
              <td></td>
              <td><i class="feather-check"></i></td>
              </tr>
              <tr>
                <th>Simplified distributed systems</th>
                <td><i class="feather-check"></i></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th>Strong focus on Cloud Native dev</th>
                <td><i class="feather-check"></i></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th>Growing community</th>
                <td><i class="feather-check"></i></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th>Popular companies using language</th>
                <td><i class="feather-check"></i></td>
                <td><i class="feather-check"></i></td>
                <td><i class="feather-check"></i></td>
              </tr>
              <tr>
                <th>Higher average developer salary</th>
                <td><i class="feather-check"></i></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th>Large and active community</th>
                <td></td>
                <td><i class="feather-check"></i></td>
                <td><i class="feather-check"></i></td>
              </tr>
              <tr>
                <th>Large and mature library support</th>
                <td></td>
                <td><i class="feather-check"></i></td>
                <td><i class="feather-check"></i></td>
              </tr>
              <tr>
                <th>Widely used in Data Science</th>
                <td></td>
                <td><i class="feather-check"></i></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Comparision Table -->