<!-- Start Brand Style-3  -->
<div class="rwt-brand-area rn-section-gap">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 mt--10">
        <h4 class="title w-600 text-center">
          <a href="#">Have a look on Github Profile</a>
        </h4>
        <ul class="brand-list brand-style-2">
          <li><a href="#"><img src="{% assets 'images/brand/brand-01.png' %}" alt="Brand Image"></a></li>
          <li><a href="#"><img src="{% assets 'images/brand/brand-02.png' %}" alt="Brand Image"></a></li>
          <li><a href="#"><img src="{% assets 'images/brand/brand-03.png' %}" alt="Brand Image"></a></li>
          <li><a href="#"><img src="{% assets 'images/brand/brand-04.png' %}" alt="Brand Image"></a></li>
          <li><a href="#"><img src="{% assets 'images/brand/brand-05.png' %}" alt="Brand Image"></a></li>
          <li><a href="#"><img src="{% assets 'images/brand/brand-06.png' %}" alt="Brand Image"></a></li>
          <li><a href="#"><img src="{% assets 'images/brand/brand-07.png' %}" alt="Brand Image"></a></li>
          <li><a href="#"><img src="{% assets 'images/brand/brand-08.png' %}" alt="Brand Image"></a></li>
          <li><a href="#"><img src="{% assets 'images/brand/brand-01.png' %}" alt="Brand Image"></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- End Brand Style-3  -->