<div class="rbt-feature-area rn-section-gap">
  <div class="container">
    <!-- Start Feature Header Top  -->
    <div class="row mb--40">
      <div class="col-lg-12">
        <div class="section-title max-width-800 text-left sal-animate">
          <h2 class="title w-600 mb--20">ManiarTech Services in <i>Golang</i></h2>
        </div>
      </div>
    </div>
    <!-- End Feature Header Top  -->
    <!-- Start Feature Service  -->
    <div class="row g-5">
      <!-- Start Single Service  -->
      <div class="col-lg-4 col-md-6 col-sm-6 col-12 sal-animate">
        <div class="service service__style--1 text-left service-bg-transparent">
          <div class="icon">
            <i class="feather-link theme-gradient"></i>
          </div>
          <div class="content">
            <h4 class="title w-600"><a href="#">Golang development</a></h4>
            <p class="description b1 color-gray mb--0">As you move to the cloud, you need to use new approaches to
              protect.</p>
          </div>
        </div>
      </div>
      <!-- End Single Service  -->
      <!-- Start Single Service  -->
      <div class="col-lg-4 col-md-6 col-sm-6 col-12 sal-animate">
        <div class="service service__style--1 text-left service-bg-transparent">
          <div class="icon">
            <i class="feather-user-check theme-gradient"></i>
          </div>
          <div class="content">
            <h4 class="title w-600"><a href="#">Golang migration</a></h4>
            <p class="description b1 color-gray mb--0">As you move to the cloud, you need to use new approaches to
              protect.</p>
          </div>
        </div>
      </div>
      <!-- End Single Service  -->
      <!-- Start Single Service  -->
      <div class="col-lg-4 col-md-6 col-sm-6 col-12 sal-animate">
        <div class="service service__style--1 text-left service-bg-transparent">
          <div class="icon">
            <i class="feather-user-plus theme-gradient"></i>
          </div>
          <div class="content">
            <h4 class="title w-600"><a href="#">Performance optimization</a></h4>
            <p class="description b1 color-gray mb--0">applications, and data, while supporting objectives.</p>
          </div>
        </div>
      </div>
      <!-- End Single Service  -->
      <!-- Start Single Service  -->
      <div class="col-lg-4 col-md-6 col-sm-6 col-12 sal-animate">
        <div class="service service__style--1 text-left service-bg-transparent">
          <div class="icon">
            <i class="feather-layout theme-gradient"></i>
          </div>
          <div class="content">
            <h4 class="title w-600"><a href="#">Golang consulting</a></h4>
            <p class="description b1 color-gray mb--0">capabilities to help meet your digital sovereignty requirements.
            </p>
          </div>
        </div>
      </div>
      <!-- End Single Service  -->

      <!-- Start Single Service  -->
      <div class="col-lg-4 col-md-6 col-sm-6 col-12 sal-animate">
        <div class="service service__style--1 text-left service-bg-transparent">
          <div class="icon">
            <i class="feather-bar-chart  theme-gradient"></i>
          </div>
          <div class="content">
            <h4 class="title w-600"><a href="#">Code review and audit</a></h4>
            <p class="description b1 color-gray mb--0">There are many variations variations
              of passages available.</p>
          </div>
        </div>
      </div>
      <!-- End Single Service  -->

      <!-- Start Single Service  -->
      <div class="col-lg-4 col-md-6 col-sm-6 col-12 sal-animate">
        <div class="service service__style--1 text-left service-bg-transparent">
          <div class="icon">
            <i class="feather-bar-chart  theme-gradient"></i>
          </div>
          <div class="content">
            <h4 class="title w-600"><a href="#">Staff augmentation</a></h4>
            <p class="description b1 color-gray mb--0">There are many variations variations
              of passages available.</p>
          </div>
        </div>
      </div>
      <!-- End Single Service  -->

      <div class="button-group mt--40 d-flex justify-content-center">
        <a class="btn-default" href="/contact/">Let's Discuss Your Project</a>
      </div>
    </div>
    <!-- End Feature Service  -->
  </div>
</div>