<div class="rn-card box-card-style-default">
  <div class="inner">
    <div class="thumbnail"><a class="image" href="{{ article.url }}">
      <img class="w-100" src="{% assets 'images/blog-grid/blog-02.jpg' %}" alt="Blog Image"></a>
    </div>
    <div class="content">
      <ul class="rn-meta-list">
        <li>{{ article.author }}</li>
        <li>{{ article.date }}</li>
      </ul>
      <h4 class="title"><a href="{{ article.url }}">{{ article.title }}</a></h4>
      <p>{{ article.description }}</p>
    </div>
  </div>
</div>
