<div class="rn-card box-card-style-default">
  <div class="inner">
    <div class="thumbnail"><a class="image" href="/blogs/post/">
      <img class="w-100" src="{% assets 'images/blog-grid/blog-02.jpg' %}" alt="Blog Image"></a>
    </div>
    <div class="content">
      <ul class="rn-meta-list">
        <li><a href="/blogs/post/">{{ author }}</a></li>
        <li class="separator">/</li>
        <li>{{ date }}</li>
      </ul>
      <h4 class="title"><a href="/blogs/post/">{{ heading }}</a></h4>
    </div>
  </div>
</div>
