---
img:
  src: https://picsum.photos/800/550
  alt:
  class: img-thumbnail
  width: 800
  height: 550
  selector: "img-thumbnail"
---

<a href="portfolio-1.html" class="d-inline-block">
  <div>
    <div class="img-overlay mb-3">
      <img src="{% assets  'img/portfolio-1.jpeg' %}" alt="" class="img-thumbnail" width="800" height="550">
      <div class="img-hover">
        <div class="img-text">View Page</div>
      </div>
    </div>
    <div class="h4 fw-normal text-center">
      <span class="text-primary">Portfolio</span> - 1
    </div>
  </div>
</a>