.service-slider{

  .inner {
    .title {
      @media screen and (min-width: 1200px){
        font-size: 50px;
      }
    }
  }

}

.service-split-custom {
  .rn-splite-style {
    .split-inner {
      padding: 30px 60px;

      .title {
        font-size: 24px;
      }
    }
  }
}

.services-img {
  background-image: url('../images/bg/services.jpg');
}

.service-bg {
  background-image: url('../images/services/5843.jpg');
  filter: brightness(1);
}


.custom-brand-list {
  align-items: center;
  column-gap: 40px;
}
