.service-slider{

  .inner {
    .title {
      @media screen and (min-width: 1200px){
        font-size: 50px;
      }
    }
  }

}

.service-split-custom {
  .rn-splite-style {
    .split-inner {
      padding: 30px 60px;
    }
  }
}

.services-img {
  background-image: url('../images/bg/services.jpg');
}
