<!-- Start About Area  -->
<section id="who-are-we" class="about-area about-style-4 rn-section-gapTop custom-values">
  <div class="container">
    <div class="row row--40 align-items-center">
      <div class="col-lg-12">
        <div class="section-title text-center sal-animate" data-sal="slide-up" data-sal-duration="400"
          data-sal-delay="150">
          <h4 class="subtitle">
            <span class="theme-gradient">About</span>
          </h4>
          <h2 class="title w-600 mb--20 mb_lg-50">Who Are We</h2>
        </div>
      </div>
    </div>

    <div class="slider-area">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-7 col-md-12 col-sm-12 order-2 order-lg-1">
            <div class="inner Collaborate-inner text-left">
              <h3 class="title text-center text-lg-start d-none d-lg-block">A Team of Software <strong>Engineers &amp; Innovators</strong></h3>
              <p class="description">
                The company was founded by Mohamed Aamir Maniar in 2010 with the sole vision of using modern technology to
                bring change
                to society. The company started with a small team of engineers who developed innovative solutions for
                social problems.
              </p>

              <p class="description">
                ManiarTech is a group of highly competent and enthusiastic software engineers and subject matter experts
                who are great
                at connecting the dots. We know how organizations function and what it takes to provide effective software
                solutions
                that produce tangible results.
              </p>

              <p>
                Working with ManiarTech gives you the peace of mind that comes from knowing that you are collaborating with a group of
                enthusiastic professionals who are committed to seeing you succeed. We have a track record of success and are always
                prepared to take on the next challenge.
              </p>

            </div>
          </div>
          <div class="col-lg-5 col-md-12 col-sm-12 order-1 order-lg-2 mb--20">
            <h3 class="title text-center text-lg-start mb--30 d-lg-none">A Team of Software <strong>Engineers &amp; Innovators</strong></h3>
            <div class="thumbnail d-flex justify-content-center">
              <img class="radius-small" src="{% assets 'images/mt-images/maniartech-team.png' %}" alt="A Team of Software Engineers & Innovators">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End About Area  -->