<!-- Start Banner Area  -->
<section id="home" class="slider-area slider-style-6 shape-right height-750 custom-bann">
  <div class="container">
    <div class="row row--30 align-items-center">
      <div class="order-2 order-lg-1 col-lg mt_sm--20 mt_md--30 mt_lg--50 pt_lg--30">
        <div class="pt-md-6">
          <div class="d-inline-block">
            <p class="m-0 about-text" role="doc-subtitle">{{ banner.motto }}</p>
          </div>
        </div>
        <div class="inner text-start">
          <h1 class="title theme-gradient">
            <span class="visually-hidden">Maniar Technologies®</span>
            {{ banner.title }}
          </h1>

          <div class="thumbnail gear-wrapper d-md-flex d-lg-none" aria-hidden="true">
            {% include "../gears.html" %}
          </div>

          <div class="description">
            {{ banner.content | safe }}
          </div>

          <div class="button-group">
            <a class="btn-default" href="#contact" role="button" aria-label="Connect with us">
              Connect Now <i class="icon feather-arrow-right" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg order-1 order-lg-2 gear-col">
        <div class="thumbnail gear-wrapper d-none d-lg-block" aria-hidden="true">
          {% include "../gears.html" %}
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Banner Area  -->

<hr class="visually-hidden"/>