<!-- Start Certification Area -->
<section class="about-style-6 rn-section-gapBottom custom-certification" aria-labelledby="certification-title">
  <div class="plr_md--30 plr_sm--30">
    <div class="wrapper theme-shape" role="region" aria-label="Certification Information">
      <div class="row align-items-center">
        <div class="col-lg-4 col-md-12 col-12">
          <div class="thumbnail text-center text-lg-center">
            <img src="{% assets 'images/mt-images/iso.png' %}"
                 alt="ISO 9001-2015 and ISO 27001-2013 Certification badges"
                 role="img" width="200" height="200"
                 aria-describedby="cert-description">
          </div>
        </div>
        <div class="col-lg-8 col-md-12 col-12 mt_sm--30">
          <div class="inner">
            <h2 id="certification-title" class="color-white maintitle">
              <span class="subtitle theme-gradient" role="doc-subtitle">Commitment to Excellence <span class="d-none visually-hidden"> - </span> </span>
              The Certified Pillars of ManiarTech®
            </h2>
            <p id="cert-description" class="description">At ManiarTech®, we are proud to hold certifications in quality services (ISO
              9001-2015) and information security
              management (ISO 27001-2013). This demonstrates our unwavering commitment to delivering products and
              services that adhere
              to the highest quality standards and security measures, ensuring our clients receive nothing but the best.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Certification Area -->