<!-- Start In Lab Area  -->
<section id="our-products" class="rn-section-gap">
  <div class="row row--20">
    <div class="col-lg-12">
      <div class="section-title text-center sal-animate" data-sal="slide-up" data-sal-duration="700" data-sal-delay="100">
        <h4 class="subtitle">
          <span class="theme-gradient">Engineering &amp; Research at ManiarTech<sup>®️</sup></span>
        </h4>
        <h2 class="title w-600 mb--20">Innovative Solutions for Tomorrow's Challenges</h2>
        <div class="d-flex justify-content-center pl_sm--20 pr_sm--20">
          <p class="description" style="max-width: 750px">Engineering and Research division at ManiarTech®
             is committed to advancing the fields of process automation, intelligent systems, developer tooling, libraries and creative solutions with a focus on delivering exceptional value and empowering both developers and society.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row rn-slick-dot rn-slick-arrow product-list-activation product-list-carousal">
    <div class="col-lg-4 col-md-6 col-sm-4 col-4 sal-animate" data-sal="slide-up" data-sal-duration="400"
      data-sal-delay="200">
      <div class="rn-box-card card-style-default">
        <div class="inner">
          <div class="thumbnail d-flex justify-content-center">
            <img src="{% assets 'images/product-logo/internet-object.png' %}" alt="Internet Object" style="filter: hue-rotate(45deg);"/>
          </div>
          <div class="content">
            <p class="description">A well-thought, schema-first, text-based, document-oriented data serialization
            format that addresses several JSON flaws.</p>
            <h2 class="title"><span class="theme-gradient">Internet Object</span></h2>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-4 col-4 sal-animate" data-sal="slide-up" data-sal-duration="400"
      data-sal-delay="200">
      <div class="rn-box-card card-style-default">
        <div class="inner">
          <div class="thumbnail d-flex justify-content-center">
            <img src="{% assets 'images/product-logo/processious.png' %}" alt="Processious" style="filter: hue-rotate(75deg);" />
          </div>
          <div class="content">
            <p class="description">An objective-oriented JSON based (low-code) Business AutoPilot platform that reduces organizational
            complexity to assist in realizing the business vision.</p>
            <h2 class="title"><span class="theme-gradient">Processious</span></h2>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-4 col-4 sal-animate" data-sal="slide-up" data-sal-duration="400"
      data-sal-delay="200">
      <div class="rn-box-card card-style-default">
        <div class="inner">
          <div class="thumbnail d-flex justify-content-center">
            <img src="{% assets 'images/product-logo/taj-mahal.png' %}" alt="Taj Mahal">
          </div>
          <div class="content">
            <p class="description">An innovative static website generation platform that provides a swift, intuitive, and
            elegant way for developing static websites.</p>
            <h2 class="title"><span class="theme-gradient">Taj Mahal</span></h2>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-4 col-4 sal-animate" data-sal="slide-up" data-sal-duration="400"
      data-sal-delay="200">
      <div class="rn-box-card card-style-default">
        <div class="inner">
          <div class="thumbnail d-flex justify-content-center"><img style="width:36px;"
            src="{% assets 'images/product-logo/documentor-logo.svg' %}" alt="Documentor.AI"></div>
          <div class="content">
            <p class="description">A state-of-the-art AI-driven document development tool capable of generating diverse document types from legal &
            technical to stories with just a single prompt, redefining content creation.</p>
            <h2 class="title"><span class="theme-gradient">Documentor AI</span></h2>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-4 col-4 sal-animate" data-sal="slide-up" data-sal-duration="400"
      data-sal-delay="200">
      <div class="rn-box-card card-style-default">
        <div class="inner">
          <div class="thumbnail d-flex justify-content-center"><img
              src="{% assets 'images/product-logo/github-mark-white.png' %}" alt="Open Source Projects at Githbu"></div>
          <div class="content">
            <p class="description">ManiarTech® Lab has open-sourced a variety of interesting projects on GitHub. Our portfolio includes developer libraries, utilities, and frameworks designed to enhance productivity and innovation.</p>
            <h2 class="title"><span class="theme-gradient">Other Open Source Projects</span></h2>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-4 col-4 sal-animate" data-sal="slide-up" data-sal-duration="400"
      data-sal-delay="200">
        <div class="rn-box-card card-style-default">
          <div class="inner">
            <div class="thumbnail d-flex justify-content-center"><img src="{% assets 'images/product-logo/wd-logo-240.png' %}" alt="Web Doodling"></div>
            <div class="content">
              <p class="description">A creative JavaScript framework that provides an instinctive way to develop
              HTML5 canvas-based drawing and animations.</p>
              <h2 class="title"><span class="theme-gradient">Web Doodling</span></h2>
            </div>
          </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-4 col-4 sal-animate" data-sal="slide-up" data-sal-duration="400"
      data-sal-delay="200">
      <div class="rn-box-card card-style-default">
        <div class="inner">
          <div class="thumbnail d-flex justify-content-center">
            <img src="{% assets 'images/product-logo/tallery-gallery.png' %}" alt="tallery-gallery" style="width: 43%;">
            </div>
          <div class="content">
            <p class="description">Allows media teams to expedite media asset management, collaboration, design, and marketing workflows.</p>
            <h2 class="title"><span class="theme-gradient">Tallery Gallery</span></h2>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
<!-- End In Lab Area  -->