<section id="our-products" class="rn-service-area rn-section-gap custom-product-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title text-center sal-animate" data-sal="slide-up" data-sal-duration="700"
          data-sal-delay="100">
          <h4 class="subtitle">
            <span class="theme-gradient">Engineering &amp; Research</span>
          </h4>
          <h2 class="title w-600 mb--20">In Our Lab</h2>
          <p class="description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure esse, </p>
        </div>
      </div>
    </div>
    <div class="row g-5 service-wrapper">
      <div class="col-lg-4 col-md-6 col-sm-6 col-12 sal-animate" data-sal="slide-up" data-sal-duration="700"
        data-sal-delay="100">
        <div class="service service__style--1 icon-circle-style text-center">
          <div class="icon">
            <img src="{% assets 'images/product-logo/internet-object.png' %}" alt="Internet Object">
          </div>
          <div class="content">
            <h4 class="title w-600">Internet Object</h4>
            <p class="description mb--0">A well-thought, schema-first, text-based, document-oriented data serialization
              format that addresses several JSON flaws.</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-6 col-12 sal-animate" data-sal="slide-up" data-sal-duration="700"
        data-sal-delay="100">
        <div class="service service__style--1 icon-circle-style text-center">
          <div class="icon">
            <img src="{% assets 'images/product-logo/processious.png' %}" alt="Processious">
          </div>
          <div class="content">
            <h4 class="title w-600">Processious</h4>
            <p class="description mb--0">An objective-oriented Business AutoPilot platform that reduces organizational
              complexity to assist in realizing the
              business vision.</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-6 col-12 sal-animate" data-sal="slide-up" data-sal-duration="700"
        data-sal-delay="200">
        <div class="service service__style--1 icon-circle-style text-center">
          <div class="icon">
            <img src="{% assets 'images/product-logo/taj-mahal.png' %}" alt="Taj Mahal">
          </div>
          <div class="content">
            <h4 class="title w-600">Taj Mahal</h4>
            <p class="description mb--0">A static website generation platform that provides a swift, intuitive, and
              elegant way for developing Web Component
              based static websites.</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-6 col-12 sal-animate" data-sal="slide-up" data-sal-duration="700">
        <div class="service service__style--1 icon-circle-style text-center">
          <div class="icon">
            <img src="{% assets 'images/product-logo/tallery-gallery.png' %}" alt="UEXL">
          </div>
          <div class="content">
            <h4 class="title w-600">UEXL</h4>
            <p class="description mb--0">A cutting-edge expression language offering a platform-independent execution environment.</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-6 col-12 sal-animate" data-sal="slide-up" data-sal-duration="700"
        data-sal-delay="100">
        <div class="service service__style--1 icon-circle-style text-center">
          <div class="icon">
            <img src="{% assets 'images/product-logo/internet-object.png' %}" alt="Documentor AI">
          </div>
          <div class="content">
            <h4 class="title w-600">Documentor AI</h4>
            <p class="description mb--0">A well-thought, schema-first, text-based, document-oriented data serialization
              format that addresses several JSON flaws.</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-6 col-12 sal-animate" data-sal="slide-up" data-sal-duration="700"
        data-sal-delay="150">
        <div class="service service__style--1 icon-circle-style text-center">
          <div class="icon">
            <img src="{% assets 'images/product-logo/wd-logo-240.png' %}" alt="Web Doodling">
          </div>
          <div class="content">
            <h4 class="title w-600">Web Doodling</h4>
            <p class="description mb--0">A creative JavaScript framework that provides an instinctive way to develop
              HTML5 canvas-based drawing and animations.</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>