<!-- Start Problem Solving Area  -->
<section id="what-we-do" class="rwt-about-area rn-section-gapTop custom-about-area">
  <div class="container">
    <div class="row row--30 align-items-start">
      <div class="col-lg-7 mt_md--40 mt_sm--40">
        <div class="content">
          <div class="section-title" data-sal="slide-left" data-sal-duration="700">
            <h4 class="subtitle">
              <span class="theme-gradient">Passionate About.</span>
            </h4>
            <h3 class="title mt--10">We Solve Problems with Cutting-Edge Technologies!</h3>
            <p>We are a team of enthusiastic engineers who take pride in our ability to solve various practical
              challenges using modern and cutting-edge technologies and give creative, innovative, and intelligent
              solutions. Some of our primary focus areas include the development of...</p>
            <p>Advanced automation technology designed specifically for enterprise applications Intelligent and agile
              inventions that aid in the achievement of the organization's goals</p>
          </div>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="thumbnail" data-sal="slide-right" data-sal-duration="700">
          <img class="w-100" src="{% assets 'images/technologies/technology.png' %}" alt="We solve problems with cutting-edge technologies">
        </div>
      </div>
    </div>
    <div class="row">
      <p>Innovative solutions tailored to the needs of the organization Creative solutions that are meticulously crafted
        to assure the organization's continuing development and success </p>
    </div>

    <div class="row mb--20">
      <div class="col-lg-12">
        <ul class="advance-brand brand-carousel-init rn-slick-arrow">
          <li><img class="filter-grayscale" src="{% assets 'images/brand/python.png'%}" alt="Python"></li>
          <li><img class="filter-invert" src="{% assets 'images/brand/rust.png'%}" alt="Rust"></li>
          <li><img class="filter-brightness" src="{% assets 'images/brand/go.png'%}" alt="Go Language"></li>
          <li><img class="filter-brightness" src="{% assets 'images/brand/react.png'%}" alt="ReactJS"></li>
          <li><img class="filter-brightness" src="{% assets 'images/brand/typescript.png'%}" alt="Typescript"></li>
          <li><img class="filter-grayscale" src="{% assets 'images/brand/google-cloud.png'%}" alt="Google Cloud"></li>
          <li><img class="filter-brightness" src="{% assets 'images/brand/docker-logo.png'%}" alt="Docker"></li>
          <li><img class="filter-brightness" src="{% assets 'images/brand/aws.png'%}" alt="AWS"></li>
          <li><img class="filter-invert" src="{% assets 'images/brand/open-ai.png'%}" alt="Open AI"></li>

          <li><img class="filter-invert" src="{% assets 'images/brand/postgres.png'%}" alt="Postgres"></li>
          <li><img class="filter-grayscale" src="{% assets 'images/brand/mongodb.png'%}" alt="Mongodb"></li>
          <li><img class="filter-grayscale" src="{% assets 'images/brand/redis.png'%}" alt="Redis"></li>

          <li><img class="filter-invert" src="{% assets 'images/brand/elasticsearch.png'%}" alt="Elastic Search"></li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- End Problem Solving Area  -->