<!-- Start Service__Style--1 Area  -->
<section id="our-offering" class="rn-section-gap custom-services">
  <div class="container">
    <div class="row mb--40">
      <div class="col-lg-12">
        <div class="section-title text-center sal-animate">
          <h4 class="subtitle "><span class="theme-gradient ">Our Offering</span></h4>
          <h2 class="title w-600">Cutting-Edge Solutions for Tomorrow's Enterprise</h2>
          <p class="description b1">ManiarTech®️ is at the forefront of delivering integrated, innovative solutions <br /> that drive business transformation
          </p>
        </div>
      </div>
    </div>
    <div class="advance-tab-four bg-color-blackest theme-shape content">
      <div class="row row--30 gy-5">
        <!-- Start tab Button  -->
        <div
          class="col-lg-7 col-md-12 col-sm-12 col-12 mt_md--30 mt_sm--30 d-flex flex-column justify-content-center order-2 order-lg-1">
          <div class="">
            <h6 class="subtitle"><span class="theme-gradient">Development</span></h6>
            <h3 class="title">Enterprise <span>Software Development</span> & <span>Process Automation</span></h3>
            <p class="description">
              Our comprehensive suite encompasses Business Process Evaluation and Automation, Digital Assets Management,
              and seamless
              System Integration, enriched with Enterprise Intelligence and Analytics.
              <br /> <br />
              We empower organizations to streamline
              operations, enhance decision-making, and leverage their digital assets efficiently, ensuring a cohesive,
              intelligent
              enterprise ecosystem.
            </p>
          </div>
        </div>
        <!-- End tab Button  -->

        <!-- Start tab Content  -->
        <div class="col-lg-5 col-md-12 col-sm-12 col-12 order-1 order-lg-2">
          <div class="service-thumbnail-offset bg-primary-gradient mt--40">
            <img class="radius-small" src="{% assets 'images/technologies/chemo.png' %}" alt="image">
          </div>
        </div>
        <!-- End tab Content  -->
      </div>
    </div>

    <!-- Start Service Box  -->
    <div class="row row--20">
      <div class="col-lg-6 col-md-12 col-sm-12 col-12 sal-animate d-flex" data-sal="slide-up" data-sal-duration="700">
        <div class="service service__style--1 bg-color-blackest radius mt--40 text-left overflow-hidden">
          <div class="content">
            <h6><span class="theme-gradient">Technology</span></h6>
            <h3 class="title">
              AI-Driven Innovation and Development Services
            </h3>
            <p class="description b2 mb--0">We harness advanced AI to create solutions that streamline operations and improve decision-making. Our team expertly
            applies a broad range of AI technologies to transform business challenges into opportunities. </p>

            <h4 class="subtitle mt--20 mb--10 b1">Strategic AI Driven Solutions Tailored for You</h4>

            <p class="mt--0">
            Our AI-driven solutions are designed from strategy to implementation to align with and achieve your business goals.
            Partner with us to enhance operational efficiency and secure a competitive edge.</p>
          </div>
          <div class="service-thumbnail-offset bg-primary-gradient mt--40 d-flex justify-content-center" style="margin-bottom: 100px;">
            <img class="radius-small" src="{% assets 'images/technologies/collaborate.png' %}" alt="image" style="margin-bottom: -55px;">
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12 col-12 sal-animate d-flex" data-sal="slide-up" data-sal-duration="700">
        <div class="service service__style--1 bg-color-blackest radius mt--40 text-left overflow-hidden">
          <div class="content">
            <h6><span class="theme-gradient">Legacy</span></h6>
            <h4 class="title">
              Legacy System Modernization
            </h4>
            <p class="description b2 mb--0">Transition from outdated legacy systems to advanced, scalable platforms with our expert guidance. We excel in
            simplifying the modernization process, ensuring that your enterprise adopts cutting-edge technology to boost operational
            efficiency.</p>

            <h4 class="subtitle mt--20 mb--10 b1">Driving Business Success</h4>
            <p>
            Our modernization strategy enhances performance and scalability while improving customer satisfaction through efficient
            process automation. By upgrading your systems, we boost your profitability and ensure a competitive edge in today's
            digital era.</p>
          </div>
          <div class="service-thumbnail-offset bg-primary-gradient mt--40">
            <img class="radius-small" src="{% assets 'images/technologies/rtl.png' %}" alt="image" style="margin-bottom: -55px;">
          </div>
        </div>
      </div>
    </div>
    <!-- End Service Box  -->

  </div>
</section>
<!-- End Service__Style--1 Area  -->