<!-- Start Testimonial Area  -->
<section id="testimonial" class="rn-testimonial-area rn-section-gap custom-testimonial">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title text-center" data-sal="slide-up" data-sal-duration="700" data-sal-delay="100">
          <h4 class="subtitle "><span class="theme-gradient">What Our Clients Says</span></h4>
          <h2 class="title w-600 mb--20">Clients Testimonial</h2>
        </div>
      </div>
    </div>

    <div class="row rn-slick-dot rn-slick-arrow testimonial-activation">

      <div class="col-lg-12">
        <!-- Start single Testimonial -->
        <div class="testimonial-style-two">
          <div class="row align-items-center row--20">
            <div class="order-2 order-md-1 col-lg-6 col-md-8 offset-lg-1">
              <div class="content mt_sm--40"><span class="form" style="color: #00abd7;">Strativity Group</span>
                <p class="description b2"><span class="text-success">ManiarTech is a loyal and trustworthy partner.</span> I appreciated the training they provided to their team to address TPD projects. They also have a great track record being transparent about both time and issues that arise.
                </p>
                <div class="client-info">
                  <h4 class="title">Peter Haid</h4>
                  <h6 class="subtitle">Chief Product Officer</h6>
                </div>
              </div>
            </div>
            <div class="order-1 order-md-2 col-lg-4 col-md-4">
              <div class="thumbnail-img d-flex justify-content-center">
                <img src="{% assets 'images/testimonial/strativity-logo.svg' %}"
                  alt="Strativity"></div>
            </div>
          </div>
        </div>
        <!-- End single Testimonial -->
      </div>

      <div class="col-lg-12">
        <!-- Start single Testimonial -->
        <div class="testimonial-style-two">
          <div class="row align-items-center row--20">
            <div class="order-2 order-md-1 col-lg-6 col-md-8 offset-lg-1">
              <div class="content mt_sm--40"><span class="form" style="color: #eb6626;">Upsport IO</span>
                <p class="description b2">MANIAR TECHNOLOGIES PVT. LTD. is a top-notch professional firm. <span class="text-success">They take their work very seriously and are committed to
                excellence.</span> Their work is on time, high quality, and fairly priced. They are excellent communicators throughout the
                project lifecycle. I would recommend them to anyone looking for web development services.
                </p>
                <div class="client-info">
                  <h4 class="title">Jeff Hines</h4>
                  <h6 class="subtitle">Founder</h6>
                </div>
              </div>
            </div>
            <div class="order-1 order-md-2 col-lg-4 col-md-4">
              <div class="thumbnail-img d-flex justify-content-center"><img src="{% assets 'images/testimonial/upsport-logo.png' %}"
                  alt="Upsport IO"></div>
            </div>
          </div>
        </div>
        <!-- End single Testimonial -->
      </div>

      <div class="col-lg-12">
        <!-- Start single Testimonial -->
        <div class="testimonial-style-two">
          <div class="row align-items-center row--20">
            <div class="order-2 order-md-1 col-lg-6 col-md-8 offset-lg-1">
              <div class="content mt_sm--40"><span class="form" style="color: #f9ac5c;">Digi Mind Media</span>
                <p class="description b2">Maniar Technologies is one of the best in the web development space with state of the art technology to meet the our requirements. <span class="text-success">Their prompt response and excellent service drives our business relationship.</span> Its been about 2 years we have been working with them and absolutely no complaints.
                </p>
                <div class="client-info">
                  <h4 class="title">Ashish Singh</h4>
                  <h6 class="subtitle">Owner</h6>
                </div>
              </div>
            </div>
            <div class="order-1 order-md-2 col-lg-4 col-md-4">
              <div class="thumbnail-img d-flex justify-content-center"><img src="{% assets 'images/testimonial/digiminds.png' %}" alt="Digi Mind Media" style="filter: invert(1);"></div>
            </div>
          </div>
        </div>
        <!-- End single Testimonial -->
      </div>

      <div class="col-lg-12">
        <!-- Start single Testimonial -->
        <div class="testimonial-style-two">
          <div class="row align-items-center row--20">
            <div class="order-2 order-md-1 col-lg-6 col-md-8 offset-lg-1">
              <div class="content mt_sm--40"><span class="form" style="color: #f08501;">TendersInfo.com</span>
                <p class="description b2">As per our organization experience <span class="text-success">Maniar Technologies Pvt. Ltd has given best solution</span> for Web Portal as well as
                windows application.
                </p>
                <div class="client-info">
                  <h4 class="title">Shailesh Pichori</h4>
                  <h6 class="subtitle">AVP - Information Technology</h6>
                </div>
              </div>
            </div>
            <div class="order-1 order-md-2 col-lg-4 col-md-4">
              <div class="thumbnail-img d-flex justify-content-center"><img src="{% assets 'images/testimonial/tendersinfo.png' %}" alt="Tenders Info"></div>
            </div>
          </div>
        </div>
        <!-- End single Testimonial -->
      </div>

      <div class="col-lg-12">
        <!-- Start single Testimonial -->
        <div class="testimonial-style-two">
          <div class="row align-items-center row--20">
            <div class="order-2 order-md-1 col-lg-6 col-md-8 offset-lg-1">
              <div class="content mt_sm--40"><span class="form" style="color: #d0bc4a;">zehn | design | studio</span>
                <p class="description b2"><span class="text-success">Overall I have had a good experience with Maniar Technologies Pvt Ltd and would HIGHLY recommend the firm</span> to people looking for web designing or other related services. Communication has been easy and all queries from my end were looked into promptly. Most importantly my
                deadline was met with and the work exceeded my expectations.
                </p>
                <div class="client-info">
                  <h4 class="title">Dimple Karnani</h4>
                  <h6 class="subtitle">Founder - Designer</h6>
                </div>
              </div>
            </div>
            <div class="order-1 order-md-2 col-lg-4 col-md-4">
              <div class="thumbnail-img d-flex justify-content-center"><img src="{% assets 'images/testimonial/zehn-logo-transparent.png' %}" alt="Zehn Design Studio" style="height: 280px;"></div>
            </div>
          </div>
        </div>
        <!-- End single Testimonial -->
      </div>

    </div>
  </div>
</section>
<!-- End Testimonial Area  -->