<!-- Start Slider Area  -->
<div class="slider-area slider-style-6 shape-right height-750 custom-contact position-relative">
  <div class="hero-grid"></div>
  <div class="container">
    <div class="row row--30 align-items-center">
      <div class="order-1 order-lg-1 col-lg-6 mt_sm--30 mt_lg--30">
        <div class="inner text-start">
          <h1 class="title color-white">Let's <span class="color-primary"><em>Talk</em></span> About Your Next Project
          </h1>
          <p class="description color-white">Whether you have a question, a project in mind, or just want to explore
            possibilities — we're ready to listen and help.</p>
        </div>

        <div class="stats mt--40">
          <div class="stat">
            <div class="stat-num">15+ Years</div>
            <div class="stat-label">Engineering Leadership</div>
          </div>

          <div class="stat">
            <div class="stat-num">250K+ Hours</div>
            <div class="stat-label">Engineering Delivered</div>
          </div>

          <div class="stat">
            <div class="stat-num"> <48 Hours </div>
            <div class="stat-label">Average response time</div>
          </div>

          <div class="stat">
            <div class="stat-num">100+</div>
            <div class="stat-label">Solutions Delivered</div>
          </div>

          <div class="stat">
            <div class="stat-num">12+</div>
            <div class="stat-label">Engineering Domains</div>
          </div>

          <div class="stat">
            <div class="stat-num">90%</div>
            <div class="stat-label">Repeated Clients</div>
          </div>

        </div>
      </div>
      <div class="col-lg-6 order-2 order-lg-2 mt_md--50 mt_sm--50 mt_lg--30">
        <div class="thumbnail"><img src="{% assets 'images/banner/banenr-image-02.png' %}" alt="Banner Images">
        </div>
      </div>
    </div>
  </div>
  <div class="shape-image"><img src="{% assets 'images/banner/white-shape.svg' %}" alt="Banner Images"></div>
</div>
<!-- End Slider Area  -->