<!-- Start Work Area  -->
<div class="service-area rn-section-gap">
  <div class="container">
    <div class="row align-items-center">
      <div class="offset-1 col-lg-5">
        <div class="content">
          <h2 class="title">A unique place to Work with ManiarTech</h2>
        </div>
      </div>
      <div class="col-lg-6">
        <p class="mb--10">A positive and comfortable work environment which facilitates opportunities for learning at
          each stage to build a strong workplace culture where you can learn, grow and evolve.</p>
      </div>
    </div>
  </div>
</div>
<!-- End Work Area  -->