<!-- Start Current Opening Area  -->
<div class="rn-accordion-area rn-section-gap">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <div class="section-title text-center" data-sal="slide-up" data-sal-duration="700" data-sal-delay="100">
          <h4 class="subtitle "><span class="theme-gradient">Apportunities</span></h4>
          <h2 class="title w-600 mb--20">Current Openings</h2>
        </div>
      </div>
    </div>
    <div class="row mt--35 row--20">
      <div class="col-lg-10 offset-lg-1">
        <div class="rn-accordion-style rn-accordion-02 accordion">
          <div class="accordion" id="accordionExamplea">
            <div class="accordion-item card">
              <h3 class="accordion-header card-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                  aria-expanded="true" aria-controls="collapseOne">
                  Graphic Designer
                </button>
              </h3>
              <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                data-bs-parent="#accordionExamplea">
                <div class="accordion-body card-body">
                  You can run doob easily. First You'll need to have node and npm on your
                  machine. So Please open your command prompt then check your node -v and
                  npm -v Version. Goes To Your your command prompt: then First: npm
                  install At Last: npm run start. By the following way you can be run your
                  project easily.
                  <div class="readmore-btn d-inline-block"><a class="btn-read-more hover-arrow"
                      data-bs-toggle="offcanvas" href="#offcanvasExample" role="button"
                      aria-controls="offcanvasExample"><span>See Full Job Description</span></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="accordion-item card">
              <h3 class="accordion-header card-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Full Stack Developer
                </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                  data-bs-parent="#accordionExamplea">
                  <div class="accordion-body card-body">
                    After purchasing the product need you any support you can be share with
                    us with sending mail to rainbowit10@gmail.com.
                    <div class="readmore-btn d-inline-block"><a class="btn-read-more hover-arrow"
                        data-bs-toggle="offcanvas" href="#offcanvasExample" role="button"
                        aria-controls="offcanvasExample"><span>See Full Job Description</span></a>
                    </div>
                  </div>
                </div>
            </div>

            <div class="accordion-item card">
              <h3 class="accordion-header card-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Front End Developer
                </button>
              </h3>
              <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                data-bs-parent="#accordionExamplea">
                <div class="accordion-body card-body">
                  Yes, We will get update the Trydo. And you can get it any time. Next
                  time we will comes with more feature. You can be get update for
                  unlimited times. Our dedicated team works for update.
                  <div class="readmore-btn d-inline-block"><a class="btn-read-more hover-arrow"
                      data-bs-toggle="offcanvas" href="#offcanvasExample" role="button"
                      aria-controls="offcanvasExample"><span>See Full Job Description</span></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="accordion-item card">
              <h3 class="accordion-header card-header" id="headingFour">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                  Back End Developer
                </button>
              </h3>
              <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                data-bs-parent="#accordionExamplea">
                <div class="accordion-body card-body">
                  You can run doob easily. First You'll need to have node and npm on your
                  machine. So Please open your command prompt then check your node -v and
                  npm -v Version. Goes To Your your command prompt: then First: npm
                  install At Last: npm run start. By the following way you can be run your
                  project easily.
                  <div class="readmore-btn d-inline-block"><a class="btn-read-more hover-arrow"
                      data-bs-toggle="offcanvas" href="#offcanvasExample" role="button"
                      aria-controls="offcanvasExample"><span>See Full Job Description</span></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Current Opening Area  -->