<!-- Start Slider Area  -->
  <div class="slider-area slider-style-1 bg-transparent height-850">
    <div class="container">
        <div class="row">
            <div class="offset-1 col-lg-10">
                <div class="inner text-center">
                    <span class="subtitle">{{ banner.subheading }}</span>
                    <h1 class="title display-one">
                      <span class="theme-gradient">{{ banner.heading }} </span>
                    </h1>
                    <p class="description">{{ banner.description }}</p>
                      <div class="button-group">
                        <a class="btn-default btn-icon" target="_blank" href="/contact/">Connect Now <i class="icon feather-arrow-right"></i>
                          </a>
                      </div>
                </div>
            </div>
        </div>
    </div>
  </div>
<!-- End Slider Area  -->