<!-- Start Why Work With Us Area -->
<div class="rainbow-split-area custom-values rn-section-gapBottom">
  <div class="wrapper">
    <div class="rainbow-splite-style bg-color-blackest">
      <div class="split-wrapper">
        <div class="row g-0 radius-10 align-items-center">
            <div class="col-lg-12 col-xl-6 col-12">
                <div class="thumbnail">
                    <img src="{% assets 'images/mt-images/split-02.jpg' %}" alt="split Images">
                </div>
            </div>
            <div class="col-lg-12 col-xl-6 col-12" style="padding: 50px;">
              <div class="split-inner p-20">
                  <h2 class="title sal-animate" data-sal="slide-up" data-sal-duration="700" data-sal-delay="200">
                    Why Work with us
                  </h2>
                  <p class="description sal-animate" data-sal="slide-up" data-sal-duration="700" data-sal-delay="300">Randomised words which don't look even slightly
                      believable. If you are to use a passage of Lorem Ipsum. You need to be
                      sure there isn't anything embarrassing hidden in the middle of text. in
                      some form, by injectedeed bedhumour, or randomised even .</p>
                  <div class="row">
                      <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                          <div class="count-box counter-style-4 text-left">
                              <div>
                                  <div class="count-number">Passion</div>
                              </div>
                              <p class="description">Randomised words which don't look even slightly believable.</p>
                          </div>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                          <div class="count-box counter-style-4 text-left">
                              <div>
                                  <div class="count-number">Fun</div>
                              </div>
                              <p class="description">Randomised words which don't look even slightly believable.</p>
                          </div>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                          <div class="count-box counter-style-4 text-left">
                              <div>
                                  <div class="count-number">Growth</div>
                              </div>
                              <p class="description">Randomised words which don't look even slightly believable.</p>
                          </div>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                          <div class="count-box counter-style-4 text-left">
                              <div>
                                  <div class="count-number">Challenge</div>
                              </div>
                              <p class="description">Randomised words which don't look even slightly believable.</p>
                          </div>
                      </div>
                  </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Why Work With Us Area   -->