<!-- Start Service Area  -->
<div class="rn-service-area rn-section-gap">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title text-center sal-animate" data-sal="slide-up" data-sal-duration="700"
          data-sal-delay="100">
          <h4 class="subtitle ">
            <span class="theme-gradient">What we can do for you</span>
          </h4>
          <h2 class="title w-600 mb--20">Services provide for you.</h2>
          <p class="description b1">There are many variations of passages of Lorem Ipsum
            available,
            <br>but the majority have suffered alteration.
          </p>
        </div>
      </div>
    </div>

    <div class="row row--15 service-wrapper">

      <div class="col-lg-3 col-md-6 col-sm-6 col-12 sal-animate" data-sal="slide-up" data-sal-duration="700">
        <div class="card-box card-style-1 text-left">
          <div class="inner">
            <div class="image">
              <a href="#">
                <img src="{% assets 'images/services/serviice-01.jpg' %}" alt="card Images">
              </a>
            </div>
            <div class="content">
              <h4 class="title mb--20"><a href="#">Faster Time-to-Market</a>
              </h4>
              <p class="description b1 color-gray mb--0">Variations There are many of pass
                ages of Lorem Ipsum available the majority.</p>

            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-6 col-12 sal-animate" data-sal="slide-up" data-sal-duration="700"
        data-sal-delay="100">
        <div class="card-box card-style-1 text-left">
          <div class="inner">
            <div class="image">
              <a href="#">
                <img src="{% assets 'images/services/serviice-02.jpg' %}" alt="card Images">
              </a>
            </div>
            <div class="content">
              <h4 class="title mb--20"><a href="#">Stronger Brand Consistency</a>
              </h4>
              <p class="description b1 color-gray mb--0">There are many variations
                variats of passages of Lorem Ipsum available.</p>

            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-6 col-12 sal-animate" data-sal="slide-up" data-sal-duration="700"
        data-sal-delay="200">
        <div class="card-box card-style-1 text-left">
          <div class="inner">
            <div class="image">
              <a href="#">
                <img src="{% assets 'images/services/serviice-03.jpg' %}" alt="card Images">
              </a>
            </div>
            <div class="content">
              <h4 class="title mb--20"><a href="#">Higher Productivity</a>
              </h4>
              <p class="description b1 color-gray mb--0">Passages there are many variatin Lorem Ipsum available majority
                suffered.</p>

            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-6 col-12 sal-animate" data-sal="slide-up" data-sal-duration="700"
        data-sal-delay="300">
        <div class="card-box card-style-1 text-left">
          <div class="inner">
            <div class="image">
              <a href="#">
                <img src="{% assets 'images/services/serviice-04.jpg' %}" alt="card Images">
              </a>
            </div>
            <div class="content">
              <h4 class="title mb--20"><a href="#">Lower Production Costs</a>
              </h4>
              <p class="description b1 color-gray mb--0">Variations There are many of pass
                ages of Lorem Ipsum available the majority.</p>

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<!-- End Service Area  -->