<section class="breadcrumb-area breadcarumb-style-1 pt--150 pb--100 position-relative">
  <div class="hero-grid"></div>
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-10 containe">
        <div class="breadcrumb-inner text-start">
          <h1 class="title theme-gradient h2">ManiarTech® Engineering Journal</h1>

          <p>ManiarTech® is an engineering-focused studio driven by innovation and discipline. We share the thinking and
            architectural foundations behind the systems, tools, and frameworks we craft with clarity, purpose, and
            intent.
          </p>

          <ul class="page-list">
            <li class="rn-breadcrumb-item"><a href="/blogs/">Home</a></li>
            <li class="rn-breadcrumb-item active">Blog</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>