<aside class="rn-sidebar">
  <div class="rbt-single-widget widget_categories mt--40">
    <h3 class="title">Categories</h3>
    <div class="inner">
      <ul class="category-list ">
        <li><a href="category/development.html"><span class="left-content">Development</span><span
              class="count-text">3</span></a></li>
        <li><a href="category/company.html"><span class="left-content">Company</span><span
              class="count-text">3</span></a></li>
        <li><a href="category/marketing.html"><span class="left-content">Marketing</span><span
              class="count-text">2</span></a></li>
        <li><a href="category/ux-design.html"><span class="left-content">UX
              Design</span><span class="count-text">5</span></a></li>
        <li><a href="category/business.html"><span class="left-content">Business</span><span
              class="count-text">2</span></a></li>
        <li><a href="category/app-development.html"><span class="left-content">App
              Development</span><span class="count-text">3</span></a></li>
        <li><a href="category/app-development.html"><span class="left-content">App
              Development</span><span class="count-text">3</span></a></li>
      </ul>
    </div>
  </div>

  <div class="rbt-single-widget widget_tag_cloud mt--40">
    <h3 class="title">Tags</h3>
    <div class="inner mt--20">
      <div class="tagcloud">
        <a href="#">Corporate</a>
        <a href="#">Agency</a>
        <a href="#">Creative</a>
        <a href="#">Design</a>
        <a href="#">Minimal</a>
        <a href="#">Company</a>
        <a href="#">Development</a>
        <a href="#">App Landing</a>
        <a href="#">Startup</a>
        <a href="#">App</a>
        <a href="#">Business</a>
        <a href="#">Software</a>
        <a href="#">Landing</a>
        <a href="#">Art</a>
      </div>
    </div>
  </div>
</aside>