<div class="slide-wrapper">
  <div id="slided-section" class="slided-section">
    <div class="inner">
      <div class="header-top">
        <div class="logo ml--10">
          <a href="/">
            <img class="logo-light" src="{% assets 'images/logo/logo-white.png' %}" alt="Maniar Technologies">
            <img class="logo-dark" src="{% assets 'images/logo/logo-white.png' %}" alt="Maniar Technologies">
          </a>
        </div>
      </div>

      <ul class="mainmenu">
        <li><a href="#what-we-do">What We Do</a></li>
        <li><a href="#our-offering">Our Offering</a></li>
        <li><a href="#our-products">Our Products</a></li>
        <li><a href="#who-are-we">Who Are We</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>

      <p class="mt-text">A software
      engineering and research company that has a passion to solve business challenges with the help of the
      latest cutting-edge technologies.</p>

      <div class="rn-footer-widget">
        <h5>Stay Connected</h5>
        <div class="">
          <ul class="social-icon social-default justify-content-start">
            <li>
              <a target="_blank" href="https://www.facebook.com/maniartech">
                <i class="feather-facebook"></i>
              </a>
            </li>
            <li>
              <a target="_blank" href="https://www.twitter.com/@maniartech">
                <i class="feather-twitter"></i>
              </a>
            </li>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</div>