<!-- Start Contact Area -->
<section id="contact" class="custom-contact-form">
  <div class="container">
    <div class="row mt--40 row--15">
      <div class="col-lg-7">
        <form class="contact-form-1 rwt-dynamic-form" id="contact-form" method="POST" action="mail.php">
          <p class="error-section" style="display: none;"></p>
          <div class="form-group form-floating">
            <input type="text" name="name" id="name" class="form-control" placeholder="Your Name">
            <label for="name">Your Name*</label>
          </div>
          <div class="form-group form-floating">
            <input type="text" name="phone" id="phone" class="form-control" placeholder="Phone Number">
            <label for="phone">Phone Number*</label>
          </div>
          <div class="form-group form-floating">
            <input type="email" id="email" name="email" class="form-control" placeholder="Your Email">
            <label for="email">Your Email*</label>
          </div>

          <div class="form-group form-floating">
            <input type="text" id="subject" name="subject" class="form-control" placeholder="Your Subject">
            <label for="subject">Your Subject*</label>
          </div>

          <div class="form-group form-floating">
            <textarea name="message" id="message" placeholder="Your Message*"></textarea>
          </div>

          <div class="form-group">
            <button name="submit" type="submit" id="submit" class="btn-default btn-large rn-btn rainbow-btn">
              <span>Submit Now</span>
            </button>
          </div>
        </form>
      </div>
      <div class="col-lg-5 mt_md--30 mt_sm--30">

        <!-- <div class="rn-address mt--0">
          <div class="inner">
            <h4 class="title"><i class="feather-map-pin"></i> Mumbai (India)</h4>
            <p> 344/1301 Kalpatru Shruti  Mira Raod (East), <br/>Thane - 401 107</p>
            <p> <a href="mailto:contact@maniartech.com" class="color-primary"><i class="feather-mail"></i>  contact@maniartech.com</a></p>
            <p><a href="#" class="color-primary"><i class="feather-phone-call"></i> +91-8976897675</a></p>
          </div>
        </div> -->

        <div class="google-map-style-1">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2663.1375147388953!2d72.8666008017282!3d19.271700676027432!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7b05cc0771473%3A0xc220fcce1cf21c89!2sManiar%20Technologies%20Private%20Limited!5e0!3m2!1sen!2sin!4v1664276072075!5m2!1sen!2sin"
              width="600" height="550" style="border:0;" allowfullscreen="" loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Contact Area -->