<!-- Start Call TO Action Area  -->
<div class="rwt-callto-action-area custom-career-section" role="region" aria-labelledby="cta-title" aria-describedby="cta-description">
  <div class="wrapper">
    <div class="rn-callto-action clltoaction-style-default style-5">
      <div class="container">
        <div class="row row--0 align-items-center content-wrapper theme-shape">
          <div class="col-lg-12">
            <div class="inner">
              <div class="cta-title-heading content text-center ">
                <h2 id="cta-title" class="title" data-sal="slide-up" data-sal-duration="400" data-sal-delay="200">
                  <span id="cta-description" class="subtitle pb--10">
                    <span class="theme-gradient b1">Join Our Team</span>
                  </span>
                  <span class="d-none"> - </span>
                  Your Passion Begins Here!
                </h2>
                <p data-sal="slide-up" data-sal-duration="400" data-sal-delay="300">We are always looking for great people to work with. <br/>
                  Don’t hesitate to reach out to us or drop your resume at <a href="mailto:careers@maniartech.com" class="color-primary"> careers@maniartech.com</a> </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Call TO Action Area  -->