<!-- Start Copy Right Area  -->
<div class="copyright-area copyright-style-one">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 col-md-5 col-sm-12 col-12">
        <div class="copyright-left">
          <p class="copyright-text">Maniar Technologies Private Limited</p>
        </div>
      </div>
      <div class="col-lg-6 col-md-7 col-sm-12 col-12">
        <div class="copyright-right text-center text-md-end text-lg-end">
          <p class="copyright-text">An ISO 9001-2015 & 27001-2013 Registered Company <sup>*</sup>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Copy Right Area  -->