<!-- Start Header Area  -->
<header class="rn-header header-default header-transparent header-sticky">
  <div class="container position-relative">
    <div class="row align-items-center row--0">
      <div class="col-lg-3 col-md-6 col-8">
        <div class="logo">
          <a href="/">
            <img class="logo-light" src="{% assets 'images/logo/logo-white.png' %}" alt="Maniar Technologies">
            <img class="logo-dark" src="{% assets 'images/logo/logo-white.png' %}" alt="Maniar Technologies">
          </a>
        </div>
      </div>
      <div class="col-lg-9 col-md-6 col-4 position-static">
        <div class="header-right">
          <nav class="mainmenu-nav d-none d-lg-block">
            <ul class="mainmenu">
              <li>
                <a href="/">Home</a>
              </li>
              <li>
                <a href="/about/">About Us</a>
              </li>
              <li class="has-droupdown has-menu-child-item">
                <a href="/services/">Services <i class="feather-chevron-down"></i></a>
                <ul class="submenu">
                  <li>
                    <a href="/services/golang-migration/">Golang Migration</a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="/lab/">Lab</a>
              </li>
              <li>
                <a href="/careers/">Careers</a>
              </li>
              <li>
                <a href="/blogs/">Blogs</a>
              </li>
              <li>
                <a href="/contact/">Contact</a>
              </li>
            </ul>
          </nav>
          <!-- Start Mobile-Menu-Bar -->
          <div class="mobile-menu-bar ml--5 d-block d-lg-none">
            <div class="hamberger hamberger-button">
              <div id="button-icon">
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>
          </div>
          <!-- Start Mobile-Menu-Bar -->
        </div>
      </div>
    </div>
  </div>
</header>
<!-- End Header Area  -->