<!-- Start Header Area  -->
<header class="rn-header header-default header-transparent header-sticky">
  <div class="container position-relative">
    <div class="row align-items-center row--0">
      <div class="col-lg-3 col-md-6 col-8">
        <div class="logo">
          <a href="#home">
            <img class="logo-light" src="{% assets 'images/logo/logo-white.png' %}" alt="Maniar Technologies">
            <img class="logo-dark" src="{% assets 'images/logo/logo-white.png' %}" alt="Maniar Technologies">
          </a>
        </div>
      </div>
      <div class="col-lg-9 col-md-6 col-4 position-static">
        <div class="d-flex justify-content-end">
          <nav class="mainmenu-nav onepagenav d-none d-lg-block">
            <ul class="mainmenu">
              <li><a href="#what-we-do">What We Do</a></li>
              <li><a href="#our-offering">Our Offering</a></li>
              <li><a href="#our-products">Our Products</a></li>
              <li><a href="#who-are-we">Who Are We</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </nav>

          <!-- Start Mobile-Menu-Bar -->
          <div class="ml--5 d-flex d-lg-none align-items-center justify-content-end">
            <div class="hamberger">
              <div class="hamberger hamberger-button">
                <div id="button-icon">
                  <span></span>
                  <span></span>
                  <span></span>
                </div>
              </div>
            </div>
          </div>
          <!-- End Mobile-Menu-Bar -->
        </div>
      </div>
    </div>
  </div>
</header>
<!-- End Header Area  -->