<div class="slide-wrapper">
  <div id="slided-section" class="slided-section">
    <div class="inner">
      <div class="header-top">
        <div class="logo">
          <a href="/">
            <img class="logo-light" src="{% assets 'images/logo/logo-white.png' %}" alt="Maniar Tech">
            <img class="logo-dark" src="{% assets 'images/logo/logo-white.png' %}" alt="Maniar Tech">
          </a>
        </div>
      </div>
      <ul class="mainmenu">
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/about/">About</a>
        </li>
        <li class="has-droupdown has-menu-child-item">
          <a href="/services/">Services <span><i class="feather-plus"></i></span></a>
          <ul class="submenu">
            <li>
              <a href="/services/golang-migration/">Golang Migration</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="/product/">Products</a>
        </li>
        <li>
          <a href="/careers/">Careers</a>
        </li>
        <li>
          <a href="/contact/">Contact</a>
        </li>
      </ul>

      <p class="mt-text">A software engineering and research company that has a passion to solve business challenges
        with the help of the latest
        cutting-edge technologies.</p>

      <div class="rn-footer-widget">
        <h5>Stay Connected</h5>
        <div class="">
          <ul class="social-icon social-default justify-content-start">
            <li>
              <a href="https://www.twitter.com">
                <i class="feather-twitter"></i>
              </a>
            </li>
            </li>
            <li>
              <a href="https://www.linkdin.com/">
                <i class="feather-linkedin"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</div>