<!-- Start Banner Area  -->
<div class="slider-area slider-style-6 height-750 custom-bann">
  <div class="container">
    <div class="row row--30 align-items-center">
      <div class="order-1 order-md-1 order-lg-1 col-md-7 col-lg-7 mt_md--50 mt_sm--50 mt_lg--30">
        <div class="inner text-left">
          <h1 class="title theme-gradient sal-animate" data-sal="slide-left" data-sal-duration="700">{{ banner.heading }}</h1>
          <p class="description sal-animate" data-sal="slide-up" data-sal-duration="800">
            {{ banner.content | safe }}
          </p>
          <div class="button-groupd d-none d-sm-block d-lg-block mt--30 mt_sm--20">
            <a class="btn-default" href="" role="button">
              AI Project Calculator
            </a>

            <a class="btn-default btn-border ml--20" href="/contact/" aria-label="Connect with us">Work With Us <i
                class="icon feather-arrow-right" aria-hidden="true"></i></a>
            </a>
          </div>
        </div>
      </div>
      <div class="order-2 order-md-2 order-lg-2 col-md-5 col-lg-5">
        <div class="thumbnail d-flex justify-content-center frame-image">
          <img src="{% assets 'images/about/about.gif' %}" alt="Banner Images">
        </div>

        <div class="button-group d-sm-none d-lg-none mt--30 mt_sm--20">
          <a class="btn-default" href="" role="button">
            AI Project Calculator
          </a>

          <a class="btn-default btn-border" href="/contact/" aria-label="Connect with us">Work With Us <i class="icon feather-arrow-right" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Banner Area  -->