<!-- Start Advance Tab-1  -->
<section class="rn-advance-tab-area rn-section-gap custom-tab">
  <div class="container">
    <!-- Start Section Title  -->
    <div class="row mb--40">
      <div class="col-12 col-lg-10 container">
        <div class="section-title text-center sal-animate">
          <h4 class="subtitle ">
            <span class="theme-gradient ">{{ pillar.subheading }}</span>
          </h4>
          <h2 class=" w-600">{{ pillar.heading }} </h2>
          <p class="b1">{{ pillar.text }}</p>
        </div>
      </div>
    </div>
    <!-- End Section Title  -->
    <!-- Start tab  -->
    <div class="row row--20">
      <div class="col-lg-6 col-md-6 col-sm-6 col-12 sal-animate d-flex" data-sal="slide-up" data-sal-duration="700">
        <div class="service service__style--1 bg-color-blackest radius mt--40 text-left overflow-hidden">
          <div class="content">
            <h6 class="subtitle">
              <span class="theme-gradient">Crafting Innovating Intelligent Solutions</span>
            </h6>
            <h4 class="title w-600">
              <a href="#">Innovation-Driven</a>
            </h4>
            <p class="description b1 color-gray">We prioritize creativity and constantly push boundaries to develop
              smart solutions for complex challenges.</p>
            <h3 class="title">Commitment to Excellence</h3>
            <p class="description b1 color-gray mb--0">We strive for excellence in every aspect, ensuring our solutions
              are of
              the highest quality, reliable, and effective.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-12 sal-animate" data-sal="slide-up" data-sal-duration="700">
        <div class="service service__style--1 bg-color-blackest radius mt--40 text-left overflow-hidden">
          <div class="content">
            <h6 class="subtitle">
              <span class="theme-gradient">Making Positive Impact with Accountability & Integrity</span>
            </h6>
            <h4 class="title w-600">
              <a href="#">Social Accountability</a>
            </h4>
            <p class="description b1 color-gray">We are dedicated to creating positive social impact through our
              work, upholding a responsibility to contribute meaningfully to society.</p>
            <h4 class="title w-600 mt--20">
              <a href="#">Integrity and Transparency</a>
            </h4>
            <p class="description b1 color-gray mb--0">Our actions are grounded in honesty and ethical practices,
              ensuring transparency and accountability in everything we do.</p>
          </div>
        </div>
      </div>
    </div>
    <!-- End tab  -->
    <!-- Start Service Box  -->
    <div class="row row--20">
      <div class="col-lg-6 col-md-6 col-sm-6 col-12 sal-animate d-flex" data-sal="slide-up" data-sal-duration="700">
        <div class="service service__style--1 bg-color-blackest radius mt--40 text-left overflow-hidden">
          <div class="content">
            <h6 class="subtitle">
              <span class="theme-gradient">Thriving Through Collaboration and Growth</span>
            </h6>
            <h4 class="title w-600">
              <a href="#">Passion and Enjoyment</a>
            </h4>
            <p class="description b1 color-gray mb--0">We enjoy our work immensely and believe that passion fuels our
              drive for innovation and excellence.</p>
            <h4 class="title w-600 mt--20">
              <a href="#">Team Spirit and Collaboration</a>
            </h4>
            <p class="description b1 color-gray mb--0">We believe the best solutions come from teamwork and
              collaboration, fostering an environment where everyone's contributions are valued.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-12 sal-animate" data-sal="slide-up" data-sal-duration="700">
        <div class="service service__style--1 bg-color-blackest radius mt--40 text-left overflow-hidden">
          <div class="content">
            <h6 class="subtitle">
              <span class="theme-gradient">Empowering Clients with Quality and Security</span>
            </h6>
            <h4 class="title w-600">
              <a href="#">Client-Centered Focus</a>
            </h4>
            <p class="description b1 color-gray mb--0">Our clients' success is our priority. We strive to understand
              their needs and deliver solutions that empower them to
              achieve their goals.</p>
            <h4 class="title w-600 mt--20">
              <a href="#">Quality and Security</a>
            </h4>
            <p class="description b1 color-gray mb--0">We uphold the highest standards of quality and security in all
              our products, ensuring trustworthiness and dependability.</p>
          </div>
        </div>
      </div>
    </div>
    <!-- End Service Box  -->
  </div>
</section>
<!-- End Advance Tab-1  -->