<!-- Start Passionate Area  -->
<div class="rwt-about-area rn-section-gap custom-vision">
  <div class="container">
    <div class="row row--30 align-items-center">
      <div class="col-lg-5">
        <div class="thumbnail d-flex justify-content-center" data-sal="slide-right" data-sal-duration="800">
          <img src="{% assets 'images/about/about-home-2.png' %}" alt="About Images" style="width: 70%;">
        </div>
      </div>
      <div class="col-lg-7 mt_md--40 mt_sm--40">
        <div class="content" data-sal="slide-left" data-sal-duration="800">
          <div class="section-title">
            <h4 class="subtitle">
              <span class="theme-gradient">{{ passionate.subheading }}</span>
            </h4>
            <h2 class="title text-capitalize">{{ passionate.heading }}</h2>
            <p> {{ passionate.content | safe }} </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Passionate Area  -->