<!-- Start Passionate Area  -->
<section class="rwt-about-area rn-section-gap custom-vision">
  <div class="container">
    <div class="row row--30 align-items-center">
      <div class="col-lg-5 order-lg-2 d-none d-lg-block">
        <div class="thumbnail d-flex justify-content-center" data-sal="slide-right" data-sal-duration="800">
          <img src="{% assets 'images/mt-images/iso.png' %}" alt="About Images" style="width: 70%;">
        </div>
      </div>
      <div class="col-lg-7 mt_md--40 order-lg-1">
        <div class="content" data-sal="slide-left" data-sal-duration="800">
          <div class="section-title">
            <h2 class="title text-capitalize">
              <span class="subtitle">
                <span class="theme-gradient">{{ values.subheading }}</span>
              </span>
              {{ values.heading }}
            </h2>

            <div class="thumbnail d-flex justify-content-center d-lg-none" data-sal="slide-right" data-sal-duration="800">
              <img src="{% assets 'images/mt-images/iso.png' %}" alt="About Images" style="width: 70%;">
            </div>

            <p> {{ values.content | safe }} </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Value Area  -->