<!-- Start Vision Area  -->
<div class="service-area pb--80">
  <div class="container">
    <div class="row align-items-center">
        <div class="col-lg-6">
            <div class="content">
                <h3 class="title sal-animate" data-sal="slide-up" data-sal-duration="700"> {{ vision.heading }} </h3>
            </div>
        </div>
        <div class="col-lg-6 sal-animate" data-sal="slide-up" data-sal-duration="700">
            <p class="mb--10">
                {{ vision.content | safe }}
            </p>
            </div>
        </div>
    </div>
  </div>
</div>
<!-- End Vision Area  -->